:root {
  --azul: #1840a9;
  --azul-escuro: #00255c;
  --azul-claro: #178aae;
  --verde-agua: #17ae93;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}

section {
  max-width: 1440px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
}

.title-section {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  letter-spacing: 0.4rem;
  padding-bottom: 1.88rem;
}

.text-container {
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--azul-escuro);
  color: white;
  display: flex;
  align-items: center;
  gap: 405px;
  justify-content: center;
  margin: 0 auto;
  height: 80px;
}

header > ul > li {
  text-transform: uppercase;
  cursor: pointer;
}

header > ul {
  font-weight: 400;
  display: flex;
  gap: 79px;
}

#presentation-section {
  display: flex;
  height: 500px;
  color: var(--azul-escuro);
}

.left-container {
  width: 4000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info-container p {
  width: 400px;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}

.info-container h2 {
  font-weight: 700;
  letter-spacing: 0.875rem;
  font-size: 1.25rem;
}

.info-container h3 {
  font-weight: 700;
  font-size: 5rem;
  line-height: 3.75rem;
}

.info-container p {
  width: 28.875rem;
  font-size: 1.25rem;
  text-align: justify;
}

#presentation-section img {
  width: 341px;
}

.right-container {
  background: linear-gradient(226deg, #1b90d2 0%, #17ae93 99.3%);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.front-sally {
  margin-left: -60px;
}

#sobre {
  background-color: var(--azul-escuro);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 115px;
  padding: 87px 0;
}

#sobre img {
  width: 341px;
}

#sobre p {
  width: 530px;
  text-align: justify;
}

#projetos {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 74px 0;
}

#projetos ul {
  display: flex;
  gap: 31px;
  justify-content: center;
  margin-top: 100px;
}

.project-container {
  width: 331px;
  height: 578px;
  position: relative;
  background-color: #178aae;
  border-radius: 8px;
  box-shadow: -8px 8px 8px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.project-container img {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.project-text {
  background: rgb(0, 37, 92);
  background: linear-gradient(
    180deg,
    rgba(0, 37, 92, 0) 0.02%,
    rgba(0, 37, 92, 0.84) 45.2%,
    rgba(0, 37, 92, 0.96) 68.75%,
    #00255c 99.98%
  );

  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 11px;
  justify-content: flex-end;
  padding-bottom: 72px;
  color: white;
}

.project-text h4 {
  margin: 0 auto;
  width: 250px;
  text-align: justify;
}

#projetos a {
  padding: 14px 206px;
  background: linear-gradient(90deg, #1b90d2 0%, #17ae93 100%);
  margin-top: 30px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
  filter: drop-shadow(-9px 8px 8px rgba(0, 0, 0, 0.25));
}

.container-hard-skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--azul-escuro);
  color: white;
  padding: 84px 0;
}

.container-list {
  display: flex;
  gap: 66px;
}

.container-list ul {
  width: 497px;
  height: 164px;
  border-radius: 8px;
  border: 1px solid #fff;
}

#tech-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  flex-direction: column;

  padding-top: 10px;
}

#tech-container li {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.25rem;
  background-color: blue;
  width: 220px;
  height: 36px;
  padding: 5px 20px;
  border-radius: 10px 15px 15px 5px;
  margin-left: -9px;
}

#stack-container {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding-top: 10px;
}

#stack-container li {
  font-weight: 700;
  font-size: 1.25rem;
  background-color: blue;
  width: 475px;
  height: 36px;
  padding: 5px 20px;
  border-radius: 10px 15px 15px 5px;
  margin-left: -9px;
}

#stack-container li:nth-child(1) {
  background-color: var(--verde-agua);
}

#stack-container li:nth-child(2) {
  background-color: var(--azul-claro);
}

#stack-container li:nth-child(3) {
  background-color: var(--azul);
}

#tech-container li:nth-child(1),
#tech-container li:nth-child(2) {
  background-color: var(--verde-agua);
}

#tech-container li:nth-child(3),
#tech-container li:nth-child(4) {
  background-color: var(--azul-claro);
}

#tech-container li:nth-child(5) {
  background-color: var(--azul);
}
